@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --vermelho: #94454D;
    --vermelho2: #4E1F24;
    --vermelho3: #440E13;
    --bege: #e2d3ac;
    --bege2: #B4A57D;
    --azul: #0097B2;
    --azul2: #004AAD;
}

body {
    background: black url(../Imagens/6.jpg) center center no-repeat fixed;
    background-size: cover;
    text-align: justify;
}

header {
    background-image: linear-gradient(to bottom, var(--vermelho), var(--vermelho3));
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}

header>h1 {
    color: var(--bege2);
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px 0px #00000056;
    margin-bottom: 20px;
}

header>p {
    color: var(--bege);
    font-size: 1.3em;
    max-width: 600px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.6);
    padding: 0 10px 0 10px;
}


nav {
    background-color: var(--vermelho3);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 5px 2px var(--bege2);
}

nav a {
    color: var(--bege);
    text-decoration: none;
    padding: 5px 30px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 50px;
}

nav>a:hover {
    color: var(--vermelho3);
    background-color: #E4DAC1;
    border-radius: 5px;
    transition-duration: .4s;
}

main {
    background-color: var(--vermelho);
    min-width: 280px;
    max-width: 820px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 0 0 10px 10px;
}

img {
    width: 100%;
}

.seta {
    width: 8%;
    display: block;
    margin: auto;
}

.setad {
    width: 8%;
    display: block;
    float: right;
}

.setae {
    width: 8%;
    display: block;
    float: left;
}

.prox {
    text-align: center;
    display: block;
}

.proxd {
    float: right;
    display: block;
    font-size: 1.3em;
}

.proxe {
    float: left;
    display: block;
    font-size: 1.3em;
}

.prox:hover {
    color: var(--bege);
}

article {
    text-decoration: none;
    color: var(--bege);
}

article h1 {
    color: var(--bege2);
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.571);
    margin-bottom: 20px;
}

article p {
    color: var(--bege);
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    line-height: 1.8em;
    font-size: 1.3em;
}

article a {
    text-decoration: none;
    color: var(--bege2);
}

article a:hover {
    color: white;
}

footer {
    background-color: var(--vermelho3);
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 1.2em;
}